.resultsContainer {
    width: 90%;
    margin: auto;
    background: rgb(109,212,255);
    background: linear-gradient(180deg, rgb(109, 211, 255) 0%, rgba(0,0,0,1) 82%);
    border: 5px solid black;
    border-bottom: 10px solid black;
    border-radius: 15px;
    box-shadow: 0px 8px 5px rgb(109, 109, 109);
}

.percentageText {
    color: lime;
    text-shadow: 2px 3px 2px black;
    font-size: 50px;
}

.answerResults {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 3px 3px 2px rgb(0, 0, 0);
}

.correctResult {
    color: lime;
}

.missedResult {
    color: rgb(255, 0, 0);
}

.missedQuestionContainer {
    background-color: rgb(125, 167, 180);
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid black;
    border-bottom: 6px solid black;
    text-shadow: 2px 2px 2px black;
    color: white;
    font-size: 25px;
}

.questionHeader {
    color: rgb(88, 102, 224);
}

.questionText {
    color: rgb(255, 255, 255);
    white-space: pre-line;
}

.yourAnswerHeader {
    color: crimson;
}

.yourAnswerText {
    color: red;
    white-space: pre-line;
}

.correctAnswerHeader {
    color: limegreen;
}

.correctAnswerText {
    color: lime;
    white-space: pre-line;
}

.buttonsContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 50px;
}

.prevButton {
    cursor: pointer;
    user-select: none;
}

.nextButton {
    cursor: pointer;
    user-select: none;
}

.celebrationImage {
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    position: relative;
    bottom: -10px;
}

.allCorrectText {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 26px;
    padding: 20px;
}

.repeatChapterButton {
    cursor: pointer;
    height: 50px;
    width: 50%;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 3px 4px black;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px black;
    background-color: rgb(255, 148, 48);
    user-select: none;
}

.buttonDisabled {
    filter: grayscale(100%);
    user-select: none;
    cursor: not-allowed;
}

.missedIndexText {
    font-size: 32px;
    user-select: none;
}

.matchingResultsContainer {
    
}

.matchingTopic {
    font-size: 30px;
    margin: 0px;
    color: orange;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

@media (max-width: 600px) {
    .repeatChapterButton {
        width: 80%;
    }
    .resultsContainer {
        width: 95%;
    }
}